/* SUMMARY */

.stat-card {
  min-width: 100px;
  padding: 24px 12px;
  flex: 1 0 32%;
  position: relative;
}

@media (orientation: landscape) {
  .stat-card {
    flex: 1 0 15%;
  }
}
.animated-stat {
  font-size: 46px;
}
/* SPEAKERS */

.speaker-card {
  padding: 12px;
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: var(--shadow);
  background-color: var(--violet);
  color: var(--blanc);
}
.speaker-card.placeholder {
  opacity: 0 !important;
}
@media screen and (min-width: 520px) {
  .speaker-card {
    flex: 1 0 calc(48%);
  }
}
@media (orientation: landscape) {
  .speaker-card:not(:nth-child(2n)) {
    margin-right: auto;
  }
  .speaker-card {
    flex: 1 0 31%;
  }
  .speaker-card:not(:nth-child(3n)) {
    margin-right: 2%;
  }
}

.speaker-card p:last-of-type {
  font-size: 17px;
}
/* PROGRAM */

.download-card {
  text-align: center;
  cursor: pointer;
}
@media (orientation: landscape) {
  .download-card {
    position: absolute;
    top: -40px;
    left: -100px;
  }
}
.program-row {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
}

.program-row time {
  width: 100px;
  font-variant-numeric: tabular-nums;
  /* border:1px solid currentColor; */
}

.program-row time + * {
  flex: 1;
}
