/* FORM GRID */

.form-field > * {
  flex: 1 0 100%;
}
@media screen and (min-width: 520px) {
  .form-field > * {
    flex: 1 0 48%;
  }
  .form-field > *:not(:nth-child(2n)) {
    margin-right: 2%;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 16px;
}

@media (orientation: landscape) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* LANDING CARDS */

.ticket-card {
  padding: 12px;
  width: 100%;
  margin-top: 12px;
  min-height: 480px;
  background-color: var(--violet);
  box-shadow: var(--shadow);
}

@media (orientation: landscape) {
  .ticket-card {
    width: 48%;
  }
  .ticket-card:last-of-type {
    margin-left: 1%;
  }
}

.sortable-card {
  padding: 8px 12px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sortable-card:not(:last-of-type) {
  border-bottom: none;
}

[data-reach-tab] {
  padding-left: 0 !important;
}

:root {
  --reach-tabs: 1;
}
[data-reach-tabs] {
  width: 100%;
}
[data-reach-tab-list] {
  display: flex;
  background: hsla(0, 0%, 0%, 0.05);
  background-color: transparent !important;
}

[data-reach-tab] {
  display: inline-block;
  border: none;
  padding: 0.25em 0.5em;
  margin: 0;
  background: none;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[data-reach-tab]:active {
  outline: 1px solid rgba(0, 0, 0, 0);
  transform: scale(1.1);
  transform-origin: center;
}

[data-reach-tab]:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

[data-reach-tab]:disabled {
  opacity: 0.25;
  cursor: default;
}

/* [data-reach-tab][data-selected] {
  border-bottom: 1px solid currentColor;
} */
.tab[data-selected]:focus {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

[data-reach-tab-panel]:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
  /*TODO FIX*/
}
