#cookie {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: var(--violet);
  color: var(--blanc);
  padding: 12px;
  z-index: 100;
}

@media (orientation: landscape) {
  #cookie {
    padding: 12px 30px 12px 12px;
  }
  #cookie .action {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}
