.progress-bar {
  position: fixed;
  height: 5px;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--violet);
}

@media (max-width: 960px) {
  .progress-bar {
    display: none !important;
  }
}
