aside {
  width: 100%;
  background: url('/portrait.jpg') no-repeat left center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  padding: 0 16px;
}

.countdown {
  width: 100%;
  max-width: 300px;
  position: absolute;
  z-index: 10;
  bottom: 28px;
  left: 12px;
}

@media (min-width: 960px) {
  aside {
    min-height: 550px;
    background: url('/landscape.jpg') no-repeat left center;
    background-size: cover;
  }
  aside .mq-only {
    display: none;
  }
  .countdown {
    left: 60px;
    bottom: 60px;
    transform: scale(1.3);
    transform-origin: left center;
  }
}
@media (min-width: 986px) {
  aside {
    margin-top: 100px;
  }
}
