/* 

960px is default breakpoint of component

*/
nav {
  padding: 12px;
  width: 100%;
}

nav.-light {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 12px;
  height: 100px;
  background-color: var(--blanc);
  color: var(--noir);
  box-shadow: var(--shadow);

  .locale-switcher {
    padding-left: 6px;
  }
  .locale-switcher .action {
    margin-right: 0 !important;
    padding: 0 6px !important;
  }
}

nav .action:not(:last-of-type) {
  margin-right: 12px;
}

.sidebar > *:nth-child(2) {
  /* first child is close button */
  margin-bottom: 48px;
}

.sidebar .action {
  padding-left: 0 !important;
}

.sidebar .action:hover {
  filter: brightness(1) !important;
  border-color: transparent;
  outline: none;
}

.sidebar .action:focus {
  border-color: transparent;
  outline: none;
}

.sidebar .action:not(:last-of-type) {
  margin-bottom: 12px;
}

.sidebar {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  max-width: 300px;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  transition: transform 200ms cubic-bezier(0.2, 0, 0.1, 1);
  display: flex;
  flex-direction: column;
  background-color: var(--violet);
  color: var(--blanc);
  padding: 18px;
}

@media (max-height: 500px) {
  .sidebar {
    overflow-y: scroll;
  }
}

#menu-button,
#close-button {
  background-color: transparent;
  border: 1px solid transparent;
  appearance: none;
  position: relative;
  cursor: pointer;
}

#menu-button {
  position: relative;
  transition: opacity 20ms cubic-bezier(0.2, 0, 0.1, 1);
  z-index: 9;
}

#menu-button:focus,
#close-button:focus {
  outline: 1px solid transparent;
}

#close-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 28px;
}

@media (min-width: 960px) {
  #close-button {
    display: none;
  }
}

#sidebar-cta {
  position: relative;
  z-index: 1;
}

.nav-action-ellipsis {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
