/*
RESET + FONT_FACE
LAYOUT ---- project
THEME ---- project
TYPOGRAPHY  ---- utility classes 
FLEX ---- utility classes 
SPACERS ---- utility classes 

*/

@font-face {
  font-family: Trade Gothic Oblique;
  src: url(/font/tradegothic-boldcondtwentyobl-webfont.woff2) format('woff2'),
    url(/font/tradegothic-boldcondtwentyobl-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: currentColor;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@viewport {
  width: device-width;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

img {
  border: 0;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[hidden],
template {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

a {
  background: transparent;
  touch-action: manipulation;
}

a > * {
  pointer-events: none;
}

/*
LAYOUT 
*/

#scroll-ref,
main,
section {
  width: 100%;
}

section {
  padding: 10vh var(--space);
  position: relative;
}
#contact section {
  padding: 10vh var(--space) 0 var(--space);
}

.section-xs,
.section-s,
.section-l,
.section-xl {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-xs {
  max-width: 580px;
}
.section-s {
  max-width: 770px;
}
.section-l {
  max-width: 960px;
}
.section-xl {
  max-width: 1300px;
}

@media (orientation: portrait) {
  .landscape-only {
    display: none !important;
  }
}

@media (orientation: landscape) {
  .portrait-only {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .mq-only {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .over-mq-only {
    display: none !important;
  }
}

.scroll-adjust-position {
  scroll-margin-top: 100px;
}

.unsupported-experience {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .unsupported-experience {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
  }
}

/* THEME  */

:root {
  --noir: #00121e;
  --bleu: #3b88a7;
  --blanc: #ffffff;
  --violet: #5b4e9c;
  --gris-clair: #8c8c8c;
  --gris-fonce: #5a5a5a;
  --rose: #e6007e;
  --shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
}

html,
body {
  background-color: var(--blanc);
  color: var(--noir);
}

.traced {
  border: 2px solid currentColor;
}
.trace:focus {
  border: 2px solid currentColor !important;
}

.-rose {
  color: var(--rose);
}
._rose {
  background-color: var(--rose);
}
.-violet {
  color: var(--violet);
}
._violet {
  background-color: var(--violet);
}
.-bleu {
  color: var(--bleu);
}
._bleu {
  background-color: var(--bleu);
}
.-blanc {
  color: var(--blanc);
}
._blanc {
  background-color: var(--blanc);
}
.-gris-fonce {
  color: var(--gris-fonce);
}
._gris-fonce {
  background-color: var(--gris-fonce);
}
.-gris-clair {
  color: var(--gris-clair);
}
._gris-clair {
  background-color: var(--gris-clair);
}
.-noir {
  color: var(--noir);
}
._noir {
  background-color: var(--noir);
}

/* TYPOGRAPHY */

:root {
  --h00: 19px; /* default */
  --h1: calc((42 / 16) * 1rem);
  --h2: calc((36 / 16) * 1rem);
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-height-default: 1.4;
  --font-height-s: 1.15;
  --font-clamp-lines: 3;
}

body {
  font-size: var(--h00);
  font-weight: var(--font-weight-default);
  line-height: var(--font-height-default);
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.font-s {
  font-size: 0.9rem;
}

.h1,
h1 {
  font-size: var(--h1);
  font-family: Trade Gothic Oblique, Arial, sans-serif;
}
.h2 {
  font-size: var(--h2) !important;
  font-family: Trade Gothic Oblique, Arial, sans-serif;
}

.font-bold,
b,
strong {
  font-weight: var(--font-weight-bold);
  font-family: Trade Gothic Oblique, Arial, sans-serif;
  /* text-shadow: 1px 0 0 currentColor; */
}

.font-center {
  text-align: center;
}
.font-left {
  text-align: left !important;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-break {
  /*better than slice*/
  box-decoration-break: clone !important;
  -webkit-box-decoration-break: clone !important;
}

.unset-underline {
  text-decoration: none !important;
}

.font-underline {
  text-decoration: underline;
  -webkit-text-decoration: currentColor double underline;
  text-decoration: currentColor double underline;
}
.link-underline {
  text-decoration: underline !important;
}

::-webkit-selection {
  background-color: var(--violet);
  color: var(--blanc);
}
::-moz-selection {
  background-color: var(--violet);
  color: var(--blanc);
}
::selection {
  background-color: var(--violet);
  color: var(--blanc);
}

/*
  FLEX
  repo: https://github.com/polmoneys/css 
*/

.flex {
  display: flex;
}

@media (orientation: landscape) {
  .flex-landscape {
    display: flex;
  }
}

.col {
  flex-direction: column;
}

.grid {
  flex-wrap: wrap;
}

.row-gap > *:not(:last-child) {
  --row-child-margin: 6px;
  margin-right: var(--row-child-margin);
}

.row-gap.-xl > *:not(:last-child) {
  --row-child-margin: 28px;
  margin-right: var(--row-child-margin);
}
.col-gap > * {
  --column-child-margin: 6px;
  margin-bottom: var(--column-child-margin);
}
.col-gap.-xl > * {
  --column-child-margin: 28px;
  margin-bottom: var(--column-child-margin);
}

.trinity {
  /* shortcut for .flex.main-between.row-gap-x */
  display: flex;
  justify-content: space-between;
}

.trinity::before,
.trinity::after,
.row-gap-x::before,
.row-gap-x::after {
  content: '';
}

.self-push-left {
  margin-left: auto !important;
}

.self-push-right {
  margin-right: auto !important;
}

.self-push-top {
  margin-top: auto !important;
}

.self-push-bottom {
  margin-bottom: auto !important;
}

.self {
  flex: 2;
}

.self.-s {
  flex: 1;
}

.self.-l {
  flex: 3;
}

.self-unset {
  flex: 1;
  min-width: 0;
}

.main-start {
  justify-content: flex-start;
}

.main-end {
  justify-content: flex-end;
}

.main-center {
  justify-content: center;
}

.main-around {
  justify-content: space-around;
}

.main-between {
  justify-content: space-between;
}

.cross-center {
  align-items: center;
}

.cross-start {
  align-items: flex-start;
}

.cross-end {
  align-items: flex-end;
}

.cross-baseline {
  align-items: baseline;
}

.wrap-start {
  align-content: start;
}

.wrap-center {
  align-content: center;
}

.wrap-around {
  align-content: space-around;
}

.wrap-between {
  align-content: space-between;
}

.self-start {
  -ms-grid-row-align: start;
  align-self: start;
}

.self-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.self-end {
  -ms-grid-row-align: end;
  align-self: end;
}

.self-stretch {
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.self-none {
  flex: none;
  /* inflexible (w/h) => flex: 0 0 auto */
}

@media (orientation: portrait) {
  .self-portrait-first {
    order: -1 !important;
  }
}

/* SPACERS */

.owl > * + *,
.lobotomized-owl > * + * {
  /*https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/*/
  margin-top: 12px;
}

.owl.-xl > * + *,
.lobotomized.owl.-xl > * + * {
  margin-top: 30px;
}

:root {
  --space-sm: 0.5em;
  --space: 0.8em;
  --space-l: 14vh 0;
}

.pxy {
  padding: var(--space);
}

@media (orientation: landscape) {
  .pxy-landscape {
    padding: var(--space);
  }
}

.pxy.-sm {
  padding: var(--space-sm);
}

.pxy.-l {
  padding: var(--space-l);
}

.px {
  padding: 0 var(--space);
}

.px.-sm {
  padding: 0 var(--space-sm);
}

.px.-l {
  padding: 0 var(--space-l);
}

.py {
  padding: var(--space) 0;
}

.py.-sm {
  padding: var(--space-sm) 0;
}

.py.-l {
  padding: var(--space-l) 0;
}
