a {
  color: currentColor;
  background-color: transparent;
  text-decoration: none;
}

a > *,
button > * {
  pointer-events: none;
}

button {
  overflow: visible;
  margin: 0;
  border-radius: 0;
  border: 2px solid transparent;
  background-color: transparent;
}

.action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  appearance: none;

  cursor: pointer;

  min-height: 44px;
  line-height: 44px;
  padding: 0 13px;
  position: relative;

  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  font-weight: 400;
  overflow: hidden;
  transition: background-color 0.1s ease-in;
  text-transform: uppercase;
}

.action:not(.traced) {
  background-color: var(--violet);
}

@media (orientation: landscape) {
  .action-landscape-max-width {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.action:hover {
  filter: brightness(1.4);
}
.action.traced {
  filter: brightness(1.1);
  border: 2px solid currentColor;
}
.action.traced.inverted {
  filter: brightness(1.1);
  border: 2px solid var(--blanc);
}
.action.traced.inverted:hover {
  background-color: var(--blanc) !important;
  color: var(--violet) !important;
}

.action.traced.-violet:hover {
  background-color: var(--violet);
  color: var(--blanc);
}
.action.traced.-blanc:hover {
  background-color: var(--blanc);
  color: var(--noir);
}

a:visited,
.action:focus {
  outline: none;
}

.action[disabled] {
  opacity: 0.1;
  cursor: not-allowed;
}

.action-tight {
  padding: 0 !important;
}
button::-moz-focus-inner {
  border: 0;
}

.not-selectable {
  user-select: none;
}

.tiny-theme {
  width: 100%;
  max-width: 44px;
  min-height: 44px;
}

.action-transparent {
  background-color: transparent !important;
}
